In [2]:
import pandas as pd

In [3]:
TIM1_func_effects = pd.read_csv('../../results/func_effects/averages/HEK293T-TIM1_entry_func_effects.csv')
TIM1_func_effects["condition"] = 'TIM1'
MXRA8_func_effects = pd.read_csv('../../results/func_effects/averages/HEK293T-Mxra8_entry_func_effects.csv')
MXRA8_func_effects["condition"] = 'MXRA8'
C636_func_effects = pd.read_csv('../../results/func_effects/averages/C636_entry_libB_func_effects.csv')
C636_func_effects["condition"] = 'C636'

In [4]:
# Join the dataframes into one with pd.concat
all_func_effects = pd.concat([TIM1_func_effects, MXRA8_func_effects, C636_func_effects])
all_func_effects.head()

,site,wildtype,mutant,effect,effect_std,times_seen,n_selections,condition
0,1,M,I,-5.6600,0.06106,17.62,8,TIM1
1,1,M,K,-5.3230,0.01909,1.00,2,TIM1
2,1,M,L,-0.1284,0.98050,1.00,4,TIM1
3,1,M,M,0.0000,0.00000,NaN,8,TIM1
4,1,M,R,-2.8370,0.64490,1.00,2,TIM1